body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background: #212121;
    


    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}
footer {
    
    color: #b2dfdb;
    border-top: 1px solid #00695c;
    margin-top: 16px; 
    padding: 16px 0;
}
header {
    margin-top: 16px;
    margin-bottom: 48px; 
    background: #00695c;
    color: #b2dfdb;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{
   margin-right: 16px;
   text-decoration: none;
   color:#b2dfdb;
}
.potrait {
    width:250px;
}
input{
      
    border: 1px solid #b2dfdb;
    padding: 8px;
    background: #b2dfdb;
}
button{
         cursor: pointer;
         border: 1px solid #00695c;
         background: #00695c;
         color:#b2dfdb;
         padding: 8px;
}
button:hover {
    background: #b2dfdb;
    color: #00695c;
}
p{
    color: #b2dfdb;
    font-family: arial;
}
.head{
    width:70px;
}