
<header>
    <h1>{{title}} <img src="/img/rise.png" alt="" class="head"></h1>
    

<div>
    <a href="/">weather</a>
        <a href="/help">help</a>
            <a href="/about">about</a>
</div>
</header>
